*{}

body{
	background-image:url("../img/bg-5.png");
}
	
.container{
	background-color: rgba(255,255,255,0.5);
}

.row.full{
	height:100%;
}

.task-container{
	height: 100%;
	margin-top: -65px;
	position: relative;
	z-index: 4;
}

#tasks {
	display: block;
	position: absolute;
	height: auto;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

#tasks input[type="text"]{
	border:none;
	width:100%;
}

#tasks .text.line-through{
	text-decoration: line-through;
	color:#aaa;
}

#tasks li{
	margin-bottom:2px;
}

#messageOut{
    height: 100%;
    position: relative;
}
#messageOut ul{
    position: absolute;
    top: 15px;
    bottom: 55px;
    height: auto;

}
#messageIn{
	position: absolute;
	bottom: 15px;
	width: auto;
	left: 15px;
	right: 15px;
}
.form-control{
	box-shadow: 0px 0px 10px -4px #333 inset;
}

#private_chat{
	margin-top:15px;
}

.navbar a{
	cursor:pointer;
}

#users{
	height:100%;
	position:relative;
}

#users .form-control{
	position:absolute;
	top:15px;
	bottom:6px;
	left: 15px;
	right: 15px;
	height:auto;
	width: auto;
}

#users .user{
	cursor: pointer;
}

#logout{
	width: 100%;
	margin-top: 15px;
	position: relative;
	z-index: 5;
}

#login{
	margin-top:200px;
}

#username{
	height:35px;
}

ul{
	list-style: none;
	list-style-position: outside;
	overflow-y: scroll;
}

#modal
