<div class="chat_view" ng-controller="PrivateChatController">
	<div class="chat_container">
		<div class="nav_container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<h4 class="navbar-text">{{activeChatUsername}}</h4>
					<h5 ng-if="!isActive" class="navbar-text">Connection closed.</h5>
				</div>
				<ul class="nav navbar-nav navbar-right" style="height:50px;">
					<li><a ng-click="hideConversation()">Public Chat</a></li>
				</ul>
			</nav>
		</div>

		<ul class="messageOut form-control">
			<li ng-repeat="messageObj in messages" on-finish-render>
				<b>{{getMessageSender(messageObj.sender)}}:</b>{{messageObj.message}}
			</li>
		</ul>
		<input class="messageIn form-control" type="text" ng-model="newMessage" placeholder="Message..." ng-keydown="addMessage($event)" 
       ng-disabled="!isActive" autofocus>
	</div>
</div>
 